/* ===================================
LAYOUT CSS

Size and positioning for sections
and included content.
=================================== */


/* ===================================
Structural Elements
=================================== */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* ===================================
Overall
=================================== */

body {
    margin: auto; /* Remove outermost margins */
}


/* ===================================
Site Header
=================================== */

header {
    clear: both;
    position: sticky;
    top: 0;
    /* width: 100%;
    margin: 0 auto; */
    min-width: 900px;
    margin: 0 auto;
}


#top-banner-contents {
    /* Centers the contained side-by-side elements */
    display: flex;
    justify-content: center;
    padding: 20px auto;
}

#top-banner-logo {
    /* Pushes element halfway to the left */
    float: left;

/*     border-radius: 50%; */
    width: 150px;
    padding: 10px;

    /* Creates space from top and bottom edges of the banner */
    
}

#website-titles {
    /* Push element halfway to the left */
    float: left;

    /* Creates space from top and bottom edges of the banner */
    margin-top: 30px;
    margin-left: 15px;
}

#subtitle {
    /* Creates space from above title */
    margin-top: 5px;
}


/* ===================================
Page Content
=================================== */

#page-content-wrapper {
    overflow: hidden;
    width: 90%;
    width: 920px;
    margin: 20px auto;
}

#page-main-image {
    max-width: 100%;
}

#page-content-title {
    text-align: center;
    font-size: 48px;

    /* Creates space from above section */
    margin-top: 1%;
}

#home-main-content main {
    margin-top: 2%;
    padding: 1%;
}

#article-main-content main {
    float: left;
    width: 62%;

    /* Creates space from above section */
    margin-top: 2%;

    padding: 1%;
}

.list-of-stuff {
    padding-left: 6%;
}

.list-of-stuff ul {
    padding-bottom: 2%;
}

.list-of-stuff p {
    padding-bottom: 2%;
    margin-bottom: 0;
}

#credits-main-content main {
    text-align: center;
    line-height: 3em;

    margin-top: 2%;
    
    padding: 1%;
}

aside {
    float: right;
    width: 35%;
    
    /* Creates space from above section */
/*     margin-top: 2%; */
    margin-top: 4%;
    margin-bottom: 4%;

/*     padding: 1%; */
    padding: 1.5% 3.5% 3% 3.5%;
}
aside h3 {
    text-align: center;
    padding: 10px;
}

h2 {
    padding-bottom: 7px;
}

p {
    margin-bottom: 20px;
}

#author-image {
    border-radius: 50%;
}


/* ===================================
Footer
=================================== */

footer {
    min-width: 900px;
    margin-top: 20px;
}

nav {
    display: flex;
    justify-content: space-around;
    line-height: 99px;
    height: 112px;
    margin-bottom: 40px;
}

nav li {
    float: left;
    list-style-type: none;
    text-align: center;

    /* Creates circular border */
    border-radius: 80%;
    padding: 5px;

    width: 120px;  
    height:110px;  
    margin: 25px;
    margin-top: -1px;
}

nav a {
    text-decoration: none;

    /* Gives the anchor a rounded shape, matching the above circular border */
    display: inline-block;
    width: 120px;
    height: 110px;
    margin: -25px;
    line-height: 106px;
    border-radius: 80%;
}

#site-info {
    text-align: center;
    line-height: 40px;
    height: 40px;
}

#site-info a {
    text-decoration: none;
}


/* ===================================
General
=================================== */

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
